:root {
    --primary-color: #315868;
    --secondary-color: #e9c46a;
    --fadeL-color: #e76f51;
    --fadeR-color: #e9c46a;
    --font-color: #2B303A;
    --bg-color: #fff;
    --header-color: #fff;
    --heading-color: #e76f51;
}

[data-theme="dark"] {
    --primary-color: #000;
    --secondary-color: #1a1a1a;
    --fadeL-color: #242424;
    --fadeR-color: #242424;
    --font-color: #fff;
    --bg-color: #383838;
    --header-color: #fff;
    --heading-color: #ffffff90;
}

* {
    box-sizing: border-box;
}

header{
    color: var(--header-color);
    text-align: center;
    padding: 4rem 6rem;
    line-height: 1.5;
    background-image: linear-gradient(120deg, var(--fadeL-color), var(--fadeR-color));
}

#name{
    font-size: 3.25rem;
    margin: 0rem;
}

.tag{
    font-size: 1.1rem;
    font-weight: normal;
    display: inline-block;
    padding: 0 0.2rem;
    margin-top: 2rem;
    border: 1px solid var(--header-color);
    border-radius: 0.3rem;
    opacity: 0.6;
    background-color: rgba(255, 255, 255, 0.1);
}

#description{
    margin-top: 2rem;
    opacity: 0.7;
    font-weight: normal;
}

.switch {
    right: 1rem;
    top: 1rem;
    position: absolute;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 1.3rem;
    width: 1.3rem;
    left: 0.1rem;
    bottom: 0.1rem;
    background-color: var(--bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--secondary-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

.slider.round {
    border-radius: 1.5rem;
}

.slider.round:before {
    border-radius: 1.5rem;
}

#section_menu{
    padding: 0.8rem 0;
    background-color: #0000000c;
    text-align: center;
    margin: 0.2rem;
}

.link_btn{
    color: var(--font-color);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--font-color);
    border-radius: 0.3rem;
    padding: 0.75rem 1rem;
    opacity: 0.8;
}

.link_btn:hover{
    opacity: 1;
}

body{
    color: var(--font-color);
    background-color: var(--bg-color);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}

main, footer{
    max-width: 64rem;
    margin: auto;
    word-wrap: break-word;
    padding: 2rem 6rem;
}

main h1, main h2, main h3{
    color: var(--heading-color);
    font-weight: normal;
}

footer {
    font-size: 1rem;
    border-top: 1px solid lightgrey;
    padding-top: 1rem;
}

a{
    text-decoration: none;
    color: var(--heading-color);
}
